* {
    margin: 0;
    padding: 0;
}
#grid-container
{
display: grid;
justify-items: center;
align-items: center;
width: 100%;
min-height: 100vh;
color:#f4d4abff;
//header section


//body section 1

#body-conten1{
    min-height:40vh;
    color:#fff;
    text-align: center;
}
#bg-image1{
    position: absolute;
    background: #333 url('Images/BG1.jpg');
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    z-index: -1;
    opacity: 0.4;
}
#welcome-h1{
padding-top: 100px;
padding-bottom: 0;
}
#welcome-h3{
    padding-top: 100px;
    padding-bottom: 0;
    }
//body section 2
#body-content2{
    background-attachment: #eaeaea;
    color: #333;
    padding-bottom: 2em;

}
//body section 3
#body-content3{
    padding: 2em 1em 1em;
    
}



}//closing of main grid container