* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.header-footer{
    width: 100%;
    min-height: 10vh;
    display: grid;
    background-color: #f4d4abff;
    
    text-align: center;
}
.p-stle{
   width: 100%;
   min-height: 80vh;
   display: grid;
   text-align: center;
   margin: 2vh 0;
}