* {
    margin: 0;
    padding: 0;
}
#mobile-header
    {   
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 2fr 4fr 2fr;
        min-height: 10vh;
        background-color:#f4d4abff;
        
       
  //this section is not working.. ask alex
        #logo-header{
          #mob-logo-img{ 
            width: 100%;
                     }
                    }
    }
    #body-content{
        width:100%;
    }
    #mob-logo-img{
        width: 100%;
    }
    #img-content3{
        width: 100%;
    }
    #video-content2{
        width: 100%;
    }
    #bg-image1{
        width: 100%;
        opacity: 1;
        
        
    }

    #grid-container
    {
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;
    min-height: 80vh;
   // margin: 10vh 0;
    color:#f4d4abff;
   background-color:whitesmoke;

    
    //for the header section, defined the height as 20vh
     //hamburger menu
     #mobile-hamburger-menu {

        #mobile-menu-checkbox {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        #mobile-menu-checkbox:checked ~ #mobile-header-menu {
            top: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        #mobile-hamburger-container {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 50px;
            height: 50px; 
            z-index: 4;
            position: relative;
    
            .mobile-hamburger-line {
                width: 40px; //vhanged from 30
                height: 6px; //changed from 4
                background-color:#d10000ff;
            }
        }

        #mobile-header-menu {
            transition: all 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            background-color: #f4d4abff;
            display: grid;
            justify-items: center;
            align-items: center;
            top: -10vh;
            opacity: 0;
            left: 0;
            min-height: 10vh;

            a {
                color:black;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }    

    //

    #phone_num{
        font-size: 2em;
        
    }
    //devided the body section into 3 subsection with 30vh, 30vh and 20vh

    #body-content1{
        width: 100%;
        min-height: 35vh;
        margin: 2vh 0;
        background-position: center;
       // background-attachment: fixed; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image: url('../Images/BG1.jpg'); 
        background-size: auto;
        position: relative;
        z-index:-1;
        opacity: 1;
        
    }
    .text1-heading{
        
        color:darkred;
        text-align: center;
       
    }
    .text2-heading{
        color: black;
        text-align: center;
    }
    #bg-image1{
        width: 100%;
    }
    //pagination
    .pagination {
        display: inline-block;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      .pagination a.active {
        background-color:darkred;
        color: white;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}
    //end pagination

    #body-content2{
        //display: inline-block;
     //   width: 100%;
        min-height: 30vh;
        margin: 2vh 0;
       
            }

    #body-content3{
        
        width: 100%;
        min-height: 20vh;
        margin: 1vh 0;
      

    }
    #conten3-menu-link{
        color:black;
        text-align: center;
        text-decoration: none;
        
    }

    //social media content
   #body-content4-socialmedia{

   }
   .Social-imgs{
       
    height: 60px;


   }
//for the footer section, defined the height as 20vh
    #footer
    {   
        width: 100%;
        min-height: 10vh;
        background-color: #f4d4abff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5vw;
        justify-items: center;
        align-items: center;
        font-size: 1.2em;   
        font-weight: bold; 
      
        
        
    }
    #footer a {
        color:black;
        text-decoration: none;
        transition: font-size 0.25s ease-in-out;
        

    }



}//closing for grid container
  
  
@media (max-width: 480px) {
    #body-content1 {
        background-image: url('../Images/indexpizza.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #body-content1{
        background-image: url('../Images/BG-tablet.jpg');
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url('../Images/BG1.jpg');
   }
}