// _variables AND _mixins files
@import '_variables';


/////////////
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    //font-family: 'Recursive', sans-serif;


}



#mobile-header
    {   
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 2fr 4fr 2fr;
        min-height: 10vh;
        background-color:#f4d4abff;
        
       
  //this section is not working.. ask alex
        #logo-header{
          #mob-logo-img{ 
            width: 100%;
                     }
   
                    }
    }
    #body-content{
        width:100%;
    }
    #mob-logo-img{
        width: 100%;
    }
    #img-content3{
        width: 100%;
    }
    #video-content2{
        width: 100%;
    }
    #bg-image1{
        width: 100%;
        opacity: 1;     
    }
    #menu-head-img{
        width: 100%;
        
    }

    #grid-container
    {
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;
    min-height: 80vh;
   // margin: 10vh 0;
    color:#f4d4abff;
   background-color:whitesmoke;
    }
    
    //for the header section, defined the height as 20vh
     //hamburger menu
     #mobile-hamburger-menu {

        #mobile-menu-checkbox {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        #mobile-menu-checkbox:checked ~ #mobile-header-menu {
            top: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        #mobile-hamburger-container {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 50px;
            height: 50px; 
            z-index: 4;
            position: relative;
    
            .mobile-hamburger-line {
                width: 40px; //vhanged from 30
                height: 6px; //changed from 4
                background-color:#d10000ff;
            }
        }

        #mobile-header-menu {
            transition: all 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            background-color: #f4d4abff;
            display: grid;
            justify-items: center;
            align-items: center;
            top: -10vh;
            opacity: 0;
            left: 0;
            min-height: 10vh;

            a {
                color:$font-color-black;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }  
    .menu-items{
                color:$font-color-red;;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2em;
                text-align: center;
    }  
  

    //

    .spacer{
        font-size: 1.3em;
        text-decoration: none;
        color: $font-color-black;
        font-weight: bold;
        
    }
    //devided the body section into 3 subsection with 30vh, 30vh and 20vh

    #body-content1{
        width: 100%;
        min-height: 35vh;
        margin: 2vh 0 ;
       
       
        
    }
    .text1-heading{
        
        color: $font-color-red;
        text-align: center;
        text-decoration: none;
           }
    #a-headTxt{
        
        color:$font-color-red;
        text-align: center;
        text-decoration: none;
           }
           
    .text2-heading{
        color: black;
        text-align: center;
        text-decoration: none;
    }
   
    #conten1-img{
        width: 100%;
    }
    #bg-image1{
        width: 100%;
    }
    .image-alignment{
        width: 100%;
    }
//not working on menu page check...
    .text-embed{
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        align-content: center;
    }
    //pagination
    .pagination {
        display: inline-block;
      }
      
      .pagination a {
        color: $font-color-black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      .pagination a.active {
        background-color:$font-color-red;
        color: white;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}
    //end pagination

    #body-content2{
        //display: inline-block;
     //   width: 100%;
        min-height: 30vh;
        margin: 2vh 0; }

    #body-content3{
        width: 100%;
        min-height: 20vh;
        margin: 1vh 0;
                }

    #conten3-menu-link{
        color:$font-color-black;
        text-align: center;
        text-decoration: none;
                    }
   
    
    //social media content
   #body-content4-socialmedia
   {
    display: grid;
    justify-items: center;
    align-items: center;
    #social-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

                    }
     }

   .Social-imgs{
           height: 50px;
                }
//for the footer section, defined the height as 20vh
    #footer
    {   
        width: 100%;
        min-height: 10vh;
        background-color: #f4d4abff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3vw;
        justify-items: center;
        align-items: center;
        font-size: 1.1em;   
        font-weight: bold;   
    }
    
    #footer a {
        color:$font-color-red;
        text-decoration: none;
        transition: font-size 0.25s ease-in-out;
             }

    #id-top{
        color:$font-color-red;
        margin: 2vh 0 2vh 0;
        text-decoration: none;
        align-content: center;
         }
 
#menu-grid-container {
    width: 100%;
    //margin-left: 5%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 5vw;
    row-gap: 5vw;
                    }

.card-container {
    position: relative;
    box-shadow: 0px 0px 0px grey;
                }

.card-container:hover 
{
    cursor: pointer;
    box-shadow: 5px 5px 7px grey;
    transition: box-shadow 0.25s ease-in-out;
}

.card-container:hover > .pizza-description {
    opacity: 1;
    box-shadow: 5px 5px 7px grey;
    top: 20vh;
    transition: all 0.25s ease-in-out;
}

.pizza-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    margin: 3vh 0;
}

.pizza-description {
    text-align: center;
    opacity: 0;
    padding: 10px;
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 0px grey;
    top: 0;
}
 
//style for about us page//

.about-img{
    width: 100%;
    margin: 2vh 0;

        }
.about-p{
    color: $font-color-black;
    text-align:justify;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 1.3rem;
        }
#about-content{
    width: 100%;
    min-height: 40vh;  
             }
#about-us1{
    width: 100%;
    min-height: 20vh;
        }
#about-us2{

    width: 100%;
    min-height: 20vh;
    margin: 3vh 0;    
        }

.privacy-contact{
    color: $font-color-red;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
                }

//end of about-us page 

//location page
#location-content{
    width: 100%;
    min-height: 100vh;
    display: grid;
   // margin: 3vh 0;
}
.content-1
{
    width: 100%;
    min-height: 30vh;

}
#content-2
{
    width: 100%;
    min-height: 30vh;

}


.text-location{
    color:$font-color-black;
    text-align: center;
    font-size: 2rem;
    margin: 3vh;
}
//end of location page

  //privacy page
  .privacy-content1{
    width: 100%;
    display: grid; 
    text-align: center;
    font-size: 1.1rem;
  }
.privacy-content2{
   width: 100%;
   //text-align: center;
   text-align: center;
   margin: 5vh 0;
}
  //end of privacy page

  //animations
  
  //order now animation
  #order-animate{
    width: 100px;
    //height: 50px;
    background-color: #f4d4abff;
    font-weight: bold;
   position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
  }
  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
  //phone no animation
  #phone-animate{
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px blue;
    }
    
    to {
      text-shadow: 0 0 20px yellow;
    }
  }

  //end animations
    .loc-contant-tablet{ display:none;}
   // #desktop-menu {display: none;}
    #desktop-menu-header{display:none;}
    #desktop-content{display: none;}
    #footer-desktop{display: none;}
    #id-top-desktop{display: none;}
   

                        

@media (min-width: 700px){
    #desktop-menu-header{display:none;}
    #desktop-content{display: none;}
    #footer-desktop{display: none;}
    #id-top-desktop{display: none;}
    html{
        font-size: 20px;
    }
    #body-content2{
        #desktop-menu {display: none;}
        width: 80%;
            }

            //order now animation
            
            @keyframes mymove {
                from {left: 0px;}
                to {left: 650px;}
            }
                //
    .content-1{ display:none;}

     .word-wrap{
            margin-left: 20vh;
            width: 300px; 
            border: 3px solid $font-color-black;
            font-size: 1.5em;
            word-break: break-all;
          
    }
}

@media (min-width: 1025px) {
    
    #mobile-header{display: none;}
    #footer{display: none;}
    #body-content4-socialmedia {display: none;}
  // #bg-image1 {display: none;}
    #body-content{display: none;}
    #body-content2{display: none;}
    .pagination{display: none;}
    .text2-heading{display: none;}
    #id-top{display: none;}
    

   #desktop-menu-header{
       width: 100%;
       height: 20vh;
       display: grid;
       background-color:#f4d4abff ;
     //  grid-template-columns: repeat(3, 1fr);
       //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       
       #desktop-logo{
            height: 20vh;
            width:20vw;
            top: 10vh;
           }
        #pizza-logo
        {
            width: 150px;
            justify-self: start;
            top: 10vh;
        }
        #m1{
        height: 20vh;
        width: 20vw;
        left:60%;
        top: 10vh;
        position:absolute; 
         }
         #m2{
            height: 20vh;
            width: 20vw;
            left:70%;
            top: 10vh;
            position:absolute;
        }
        #m3{
            height: 20vh;
            width: 20vw;
            left:80%;
            top: 10vh;
            position:absolute;
        }
        
        #m4{
            height: 20vh;
            width: 20vw;
            left:90%;
            top: 10vh;
            position:absolute;
        }
       .menu-list{
           font-size: 1.1em;
           font-weight: bold;
           color:#d10000ff;
           text-decoration: none;
       }
   
       
   }
   #footer-desktop{
       width: 100%;
       height: 20vh;
       display: grid;
     
       background-color: #f4d4abff;
       grid-template-columns: repeat(3, 1fr);

          #footer-desk-privacy{
           width: 100%;
           grid-template-rows: repeat(3, 1fr);
       }
          #fone{
          margin: 7vh 5vh;
          color: black;
             }
         .Social-imgs{
            margin: 2vh 0;
            margin-left: 5vh;
             }
          .footer-desk-text{
           color:#d10000ff ;
           margin: 0.5vh 5vh;
           text-decoration: none;
           font-weight: bold;
       }
   }

   #dektop-content{

    display: grid;
    width: 100%;
    background-color:black;
   // height: 100vh;
        #content1{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            margin: 5vh 0;

        }
        #content2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
           // align-items: center; 
           margin: 5vh 0;    

        }
        #content1-p{
            text-align: justify;
        }
        //ask alex.. how to move to the start of line
        #conten1-headings{
            justify-self: start;
        }
        #content3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            margin: 5vh 0;

             }
             #id-top-desktop{
                color:darkred;
                margin: 10vh 10vh 10vh 100vh;
                //text-decoration: none;
                 }
   }
}
 

 
