// _variables call
@import '_variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}



#mobile-header
    {   
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 2fr 4fr 2fr;
        min-height: 10vh;
        background-color:#f4d4abff;
        
       
  //this section is not working.. ask alex
        #logo-header{
          #mob-logo-img{ 
            width: 100%;
                     }
   
                    }
    }
    #body-content{
        width:100%;
        margin: 5vh 0;
    }
    #mob-logo-img{
        width: 100%;
    }
 //   #img-content3{
  //      width: 100%;
 //   }
    #video-content2{
    width: 80%;
    margin-left:10%;
    }
    #bg-image1{
        width: 100%;
       margin:0 2vh 2vh 2vh;
       border-radius: 8px;
           
    }
    #menu-head-img{
        width: 80%;
        margin-left:10%;
         
    }
    #pizza-deal1{
        width: 80%;
        margin: 3vh 10%;
        border-radius: 8px;
     
    }
    #pizza-deal2{
        width: 80%;
        margin: 3vh 10%;
        border-radius: 8px;

    }
    #piza-menu-img{
        height: 200px;
        margin: 5vh 10vh;
        border-radius: 8px;

    }
    #pasta-menu-img{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 8px;

    }
    .text-menu{
        margin: 2vh 10vh;
    }

    #grid-container
    {
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;
    min-height: 80vh;
   
    color:#f4d4abff;
   background-color:whitesmoke;
    }
    
     //hamburger menu
     #mobile-hamburger-menu {

        #mobile-menu-checkbox {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        #mobile-menu-checkbox:checked ~ #mobile-header-menu {
            top: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        #mobile-hamburger-container {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 50px;
            height: 50px; 
            z-index: 4;
            position: relative;
    
            .mobile-hamburger-line {
                width: 40px; 
                height: 6px; 
                background-color:#d10000ff;
            }
        }

        #mobile-header-menu {
            transition: all 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            background-color: #f4d4abff;
            display: grid;
            justify-items: center;
            align-items: center;
            top: -10vh;
            opacity: 0;
            left: 0;
            min-height: 10vh;

            a {
                color:$font-color-black;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }  
    .menu-items{
                color:$font-color-red;;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2em;
                text-align: center;
    }  


    .spacer{
        font-size: 1.3em;
        text-decoration: none;
        color: $font-color-black;
        font-weight: bold;
        
    }
    //BODY CONTENT MOBILE SCREEN

    #body-content1{
        width: 100%;
        min-height: 35vh;
        margin: 2vh 0 ;      
       
        
    }
    .text1-heading{
        
        color: $font-color-red;
        text-align: center;
        text-decoration: none;
           }
    #a-headTxt{
        
        color:$font-color-red;
        text-align: center;
        text-decoration: none;
           }
           
    .text2-heading{
        color:$font-color-black;
        text-align: center;
        text-decoration: none;
    }
   
    
    .image-alignment{
        width: 80%;
        margin-left: 10%;
        border-radius: 8px;    }
//not working on menu page check...
    .text-embed{
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        align-content: center;
    }
   
    #body-content2{
        //display: inline-block;
     //   width: 100%;
        min-height: 30vh;
        margin: 2vh 0; }

    #body-content3{
        width: 100%;
        min-height: 20vh;
        margin: 1vh 0;
                }

    #conten3-menu-link{
        color:$font-color-black;
        text-align: center;
        text-decoration: none;
                    }
    //social media content
   #body-content4-socialmedia
   {
    display: grid;
    justify-items: center;
    align-items: center;
    #social-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

                    }
     }

   .Social-imgs{
           height: 50px;
           
                }
//for the footer section, 
    #footer
    {   
        width: 100%;
        min-height: 10vh;
        background-color: #f4d4abff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3vw;
        justify-items: center;
        align-items: center;
        font-size: 1.1em;   
        font-weight: bold;   
    }
    
    #footer a {
        color:$font-color-red;
        text-decoration: none;
        transition: font-size 0.25s ease-in-out;
             }

    #id-top{
        color:$font-color-red;
        margin: 2vh 0 2vh 0;
        text-decoration: none;
        align-content: center;
         }
 
#menu-grid-container {
    width: 100%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 5vw;
    row-gap: 5vw;
                    }

.card-container {
    position: relative;
    box-shadow: 0px 0px 0px grey;
                }

.card-container:hover 
{
    cursor: pointer;
    box-shadow: 5px 5px 7px grey;
    transition: box-shadow 0.25s ease-in-out;
}

.card-container:hover > .pizza-description {
    opacity: 1;
    box-shadow: 5px 5px 7px grey;
    top: 40vh;
    transition: all 0.25s ease-in-out;
}

.pizza-image {
    width: 80%;
    height: 20vh;
    object-fit: cover;
    margin: 3vh 0;
    margin-left: 10%;
    transition-property: width, height;
    transition-duration: 2s;
    border-radius: 50%;

}

.pizza-image:hover {
    width: 250px;
    height: 300px;
  }

.pizza-description {
    text-align: center;
    opacity: 0;
    padding: 10px;
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 0px grey;
    top: 0;
}
 
//style for about us page//

.about-img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8px;
    //margin: 1vh 0;

        }
     .about-txt{
            color: $font-color-black;
            text-align:justify;
            width: 90%;
            margin-left: 2vh;
            margin-right: 2vh;
            font-size: 1.5rem;
          //  margin: 3vh 1vh 1vh 1vh;;
            }
        #about-content{
            width: 100%;
            min-height: 40vh;  
            margin: 2vh 0;
            justify-self: center;
                    }
        .about-us{
            text-align: center ;   
            color: $font-color-black; 
            width: 90%;
            margin-left: 2vh;
            margin-right: 2vh;
            font-size: 1.7em;
       }
       .about-us-family{
        text-align: center ;   
        color: $font-color-black; 
        width: 90%;
        margin-left: 2vh;
        margin-right: 2vh;
        font-size: 1.7em;
   }
        #about-us1{
        width: 100%;
        min-height: 20vh;
            }
        #about-us-mobile{
            width: 100%;
            min-height: 20vh;
            margin: 3vh 0;    
                }
        #catering{
            font-size: 1.5em;
        }

        .privacy-contact{
            color: $font-color-red;
            font-size: 1.3rem;
            font-weight: bold;
            text-decoration: none;
                        }

//end of about-us page 

//location page
#location-content{
    width: 100%;
    min-height: 100vh;
    display: grid;
   // margin: 3vh 0;
}
.content-1
{
    width: 100%;
    min-height: 30vh;

}
#content-2
{
    width: 100%;
    min-height: 30vh;
    align-self: center;
    justify-self:center;

}
#delivery-image
{
   // width: 80%;
   margin-left: 7vh;
    height: 200px;
    border-radius: 8px;
}

.text-location{
    color:$font-color-black;
    text-align: center;
    font-size: 2rem;
    margin: 3vh;
}
//end of location page

  //privacy page
  .privacy-content1{
    width: 100%;
    display: grid; 
    text-align: center;
    font-size: 1.1rem;
  }
.privacy-content2{
   width: 100%;
   //text-align: center;
   text-align: center;
   margin: 5vh 0;
}
  //end of privacy page
 
  //apply phone no animation
  .phone-animate{
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px blue;
    }
    
    to {
      text-shadow: 0 0 20px yellow;
    }
  }

  //end animations


  //media queries for mobile phone screen
    #desktop-menu-header{display:none;}
    #desktop-content{display: none;}
    #footer-desktop{display: none;}
    #id-top-desktop{display: none;}
    #dine-in-desktop{display: none;}
    #about-us2-desktop{display: none;}
    #location-content-desktop{display: none;}
    .privacy-content3{display: none;}
    #about-desktop-screen{display: none;}

   


//media queries for tablet mobile screen                     

@media (min-width: 700px){
    #desktop-menu-header{display:none;}
    #desktop-content{display: none;}
    #footer-desktop{display: none;}
    #id-top-desktop{display: none;}
    #dine-in-desktop{display: none;}
    #family-desktp{display: none;}
    #location-content-desktop{display: none;}
    .privacy-content3{display: none;}
    #about-desktop-screen{display: none;}


  

    html{
        font-size: 20px;
    }
    #body-content2{
        #desktop-menu {display: none;}
        width: 100%;
            }
    .content-1{ display:none;}

     .word-wrap{
            margin-left: 20vh;
            width: 300px; 
            border: 3px solid $font-color-black;
            font-size: 1.5em;
            word-break: break-all;  
           }
           //ask alex
           #video-content2{
            width: 80%;
            margin-left: 10%;
        }
}

//media queries for Desktop screen                     

@media (min-width: 1025px) {
    
    #mobile-header{display: none;}
    #footer{display: none;}
    #body-content4-socialmedia {display: none;}
    #body-content{display: none;}
    #body-content2{display: none;}
    .pagination{display: none;}
    .text2-heading{display: none;}
    //#id-top{display: none;}
    #about-us-mobile{display: none;}
    #dine-in-mobile{display: none;}
    #location-content{display: none;}
    #menu-desktop-img1{display: none;}
    #menu-desktop-img2{display: none;}
  //  #about-us-mobile-screen{display: none;}

    
    
    

   #desktop-menu-header{
       width: 100%;
       height: 20vh;
       display: grid;
       background-color:#f4d4abff ;
       
       #desktop-logo{
            height: 20vh;
            width:20vw;
            top: 10vh;
            #pizza-logo
            {
                width: 135px;
                justify-self: start;
                top: 10vh;
            }
           }
       
         #desktop-spacer
        {
        height: 20vh;
        width: 20vw;
        left:30%;
        top: 10vh;
        position:absolute; 
        color: $font-color-black;
        }
        #m1{
        height: 20vh;
        width: 20vw;
        left:60%;
        top: 10vh;
        position:absolute; 
         }
         #m2{
            height: 20vh;
            width: 20vw;
            left:70%;
            top: 10vh;
            position:absolute;
        }
        #m3{
            height: 20vh;
            width: 20vw;
            left:80%;
            top: 10vh;
            position:absolute;
        }
        
        #m4{
            height: 20vh;
            width: 20vw;
            left:90%;
            top: 10vh;
            position:absolute;
        }
       .menu-list{
           font-size: 1.1em;
           font-weight: bold;
           color:#d10000ff;
           text-decoration: none;
       }
   
       
   }
   #footer-desktop{
       width: 100%;
       height: 20vh;
       display: grid;
     
       background-color: #f4d4abff;
       grid-template-columns: repeat(3, 1fr);

          #footer-desk-privacy{
           width: 100%;
           grid-template-rows: repeat(3, 1fr);
       }
          #fone{
          margin: 7vh 5vh;
          color: $font-color-black;
             }
         .Social-imgs{
            margin: 2vh 0;
            margin-left: 5vh;
             }
          .footer-desk-text{
           color:#d10000ff ;
           margin: 0.5vh 5vh;
           text-decoration: none;
           font-weight: bold;
       }
   }

   #desktop-content{

    display: grid;
    width: 90%;
    min-height: 70vh;
    background-color:whitesmoke;


        #content1{
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 7fr;
            justify-items: center;
            align-items: center;
        }
        #content2{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
        }
       
        #top-content{
           width: 100%;
           margin-top: 5vh;
           margin-bottom: 5vh;
           word-spacing: 20px

        }
        .dektop-image-alignment{
            width: 100%;
            border-radius: 8px;
        }
       
        #content1-text-container{
            width: 100%;
            justify-self: start;
            align-self: start;
            word-spacing: 5px
          }

        .banner-txt{
            color: $font-color-red;
            width: 80%;
            text-decoration: none;  
            margin-bottom: 5vh;  
            margin-left: 10%;
          }
        .banner-txt2{
            color: $font-color-red;
            text-decoration: none;  
            margin-bottom: 2vh;  
            margin-left: 2vh;
            }  
         .banner-txt3{
            color: $font-color-red;
            width: 80%;
            text-decoration: none;  
            margin-bottom: 5vh;  
            margin-right: 15%;
            }  
                  
        .desktop-text{
            width: 80%;
            margin-left: 10%;
            color: $font-color-black;
            text-align: justify;
            justify-self: start;
            align-self: start;
        }
        #dine-img
        {
            width: 80%;
            height: 160px;
            margin-left: 10%;
            margin-top: 3vh;
            margin-bottom: 5vh;
            border-radius: 8px;

        }
        #desktop-video1{
            width: 80%;
         //   height: 300px;
           margin-left: 5vh;
           margin-top: 3vh;
           margin-bottom: 5vh;
           border-radius: 8px;
            
        }
        #desktop-video2{
            width: 80%;
          //  height: 300px;
            margin-left: 5vh;
            border-radius: 8px;
            margin-bottom: 5vh;

        }
        #desktop-video3
        {
            width: 80%;
            margin-left: 5vh;
            border-radius: 8px;
        }
        #desktop-img-index{
            width: 70%;
            margin-right: 10%;
           //height: 600px;
            border-radius: 8px;
        }
        #dektop-pasta-img1{
            width: 80%;
            margin-right: 5vh;
            margin-bottom: 10vh;
            margin-left: 2vh;
            border-radius: 8px;

        }
        #dektop-pasta-img2{
            width: 80%;
            margin-right: 5vh;
            margin-left: 2vh;
            border-radius: 8px;

        }
       
        #content3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            margin: 5vh 0;
             }          
            
   }
   //about us page desktop screen

   #about-desktop-screen
   {
       width: 90%;
   }
        .headings-about{
        color:$font-color-black;
        text-align: center;
        text-decoration: none;
        }
        .about-txt{
            color:$font-color-black;
            width: 90%;
            align-self: center;
            justify-self: center;
            text-align: justify;
            word-spacing: 1.1vw;
            margin-top: 5vh;
            margin-left: 10vh;
            margin-bottom: 5vh;
        }
        #about-image2
        {
            width: 60%;
            margin-left: 20%;
            margin-bottom: 5vh;
        } 
       .itop{
           text-align: center;
           color: black;
           text-decoration: none;
           margin-bottom: 5vh;
       }
       #family-desktp{
        color:$font-color-black;
        width: 90%;
       
       }

     //location page desktop screen
     #location-content-desktop{
         display: grid;
         width: 90%;
         margin: 5vh 0;
         color: black;

        .text-location{
          width: 90%;
        }
        .images-location{
            width: 60%;
            margin-left: 20%;
            border-radius: 8px; 
        }
        #images-time{
            width: 40%;
            margin-left: 30%;
            border-radius: 8px; 
        }
     }
     #privacy-content3{
         width: 80%;
         margin-left: 10%;
         text-align: justify;
     }

}
 

 
